<form action="/StudentResult" method="POST">
    <input type="text" name="stu" placeholder="Enter student email"/>
    <input type="submit" value="get results"/>
</form>
<p>The results are as follwoing</p>
<ul>
    <li>HaigyPaigy : <%= t1score %></li>
    <li>Article Replacement : <%= t2score %></li>
    <li>Turkish Plurals : <%= t3score %></li>
    <li>Corpus Cleaning : <%= t4score %></li>
</ul>